# Node.js dependencies
node_modules/

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

# Build outputs
dist/

# Environment files
.env.*
!.env.example

# JetBrains IDE settings
.idea/

# Logs
*.log
yarn-error.log

# Cache and temporary files
.prettier_cache/
.eslintcache
*.tmp
*.swp

# Testing outputs
coverage/
.jest/

# TypeScript build info
*.tsbuildinfo

# System files
.DS_Store
Thumbs.db
